@using System.Data;
@using ZoomLa.BLL;
@using ZoomLa.Common;
@using ZoomLa.Model;
@using ZoomLa.SQLDAL;
@using ZoomLa.SQLDAL.SQL;
@model ZoomLa.SQLDAL.SQL.PageSetting
@{
    Layout = "~/Areas/User/Views/Shared/_layout1.cshtml";
    B_User buser = new B_User();
    M_UserInfo mu = buser.GetLogin();
    switch (B_User_Plat.IsPlatUser())
    {
        case 0://非Plat用户
               //Response.Redirect("/Plat/Fill.aspx");
            function.WriteErrMsg("你并非能力中心用户,请联系网络管理员,为你发送注册邀请!!");
            break;
        case 1://未审核
            function.WriteErrMsg("你的帐户尚未审核,无法登录能力中心,请联系网络管理员!!!");
            break;
            //case 99://正常登录
            //    Session["Main_IsPlatUser"] = true;
            //    break;
    }
    if (!B_User_Plat.IsAdmin())
    {
        DataTable dt = SqlHelper.ExecuteTable(CommandType.Text, "select * from ZL_Plat_Group where MemberIDS like '%," + mu.UserID + ",%' And GroupName='证照管理'", null);
        if (dt.Rows.Count <= 0)
        {
            function.WriteErrMsg("你并非证照管理员，无法使用该功能！");
        }
    }
}
@section head{
<title>证照管理</title>
<script src="/JS/DatePicker/WdatePicker.js"></script>
<script src="/JS/Controls/ZL_Dialog.js"></script>
<script src="/JS/ZL_Content.js?v=20160514"></script>
<style>
body { font-size:12px;}
.map_list { margin-left:11px; left:0; width:auto;}
.map_list>li { margin-left:-11px; left:0;}
.map_list1>li>h3 { padding:0; border:none; white-space:nowrap; line-height:17px;}
.map_list1>li { padding-top:2px; padding-bottom:2px; padding-left:15px; background:url(/Template/JianTu/style/images/line.png) left top -3px no-repeat; }
.map_list1_b { padding-top:1px; padding-bottom:1px; padding-left:3px; padding-right:3px; font-size:10px; line-height:1;}
.map_list>li>h3 { padding-top:5px; padding-bottom:5px; border-radius:0; line-height:normal;}
.map_list>li { margin-top:5px;}
.allchk_l { display:none;}
.width1100 { width:440px;}
.modal_ifr { height:400px;}
</style>
}
@section content{
<div class="zhengzhao_mycert">
<div class="zhengzhao_mycert_t">
<div class="zhengzhao_mycert_tl"><span>证书列表</span></div>
<div class="zhengzhao_mycert_tr">
<a href="/Class_350/NodePage.aspx" class="zz_add">新增</a>
<a href="javascript:;" onclick="EditFun();" class="zz_edit">修改</a>
@if (ViewBag.Status.Equals("-2")){ <input type="button" value="批量还原" class="btn btn-info" onclick="mvcpage.bat({url: 'content_recover' });" /> }
else { <a href="javascript:;" class="zz_delete"  onclick="mvcpage.bat({url: '/User/Content/content_del', confirm: '确定要批量移除吗' });">删除</a> }
<a href="javascript:;" onclick="ViewFun();" class="zz_view">浏览</a>
<a href="/User/Content/AddContent2?NodeID=538&ModelID=74" class="zz_add">证书类型</a>
<a href="/Class_539/NodePage.aspx" class="zz_add">其他类型</a>
</div>
<div class="clearfix"></div>
</div>
<div class="zhengzhao_mycert_c">
<table class="table table-border table-condensed " style="margin-bottom:0;">
<tr>
<td width="210">
<div class="zhengzhao_mycert_cl" role="tabpanel">
<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
<li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">类型</a></li>
<li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">专业</a></li>
<li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">状态</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
<div role="tabpanel" class="tab-pane active" id="home">
<ul class="map_list">
<li>
<h3><a href="javscript:;" onclick="$('#zzlb').val(''); mvcpage.load();">证书类型</a></h3>
<ul class="map_list1 map_list1_zzlb">
@MvcHtmlString.Create(Call.GetLabel("{ZL.Label id=\"循环输出证书类型搜索\" ParentID=\"0\" /}"))
</ul>
</li>
</ul>

</div>
<div role="tabpanel" class="tab-pane" id="profile">
<ul class="map_list">
<li>
<h3><a href="javscript:;" onclick="$('#zy').val(''); mvcpage.load();">专业类别</a></h3>
<ul class="map_list1 map_list1_zy">
@MvcHtmlString.Create(Call.GetLabel("{ZL.Label id=\"输出专业类别搜索列表\" NodeID=\"540\" /}"))
</ul>
</li>
</ul>
</div>
<div role="tabpanel" class="tab-pane" id="messages">
<ul class="map_list">
<li>
<h3><a href="javscript:;" onclick="$('#zszt').val(''); mvcpage.load();">证书状态</a></h3>
<ul class="map_list1 map_list1_zszt">
@MvcHtmlString.Create(Call.GetLabel("{ZL.Label id=\"输出专业类别搜索列表\" NodeID=\"539\" /}"))
</ul>
</li>
</ul>
</div>
<div role="tabpanel" class="tab-pane" id="settings">...</div>
</div>

</div>
</td>
<td>
<form method="post" action="/User/Content/MyContent">
<table class="table table-condensed zhengzhao_mycert_ct1">
<tr>
<td width="80" style="vertical-align:middle; text-align:right;">证书类型：</td>
<td>
<input type="text" class="form-control input-sm mvcparam txt_zzlb" id="zzlb" name="zzlb" style="float:left; width:115px; " />
<button type="button" class="btn btn-info btn-xs pull-left margin_l5" onclick="ShowDiag('/Class_538/Default.aspx','证书类型');"><i class="fa fa-plus"></i></button>
</td>
<td width="80" style="vertical-align:middle; text-align:right;">专业：</td>
<td>
<input type="text" class="form-control input-sm mvcparam txt_zy" id="zy" name="zy" style="float:left; width:115px; " />
<button type="button" class="btn btn-info btn-xs pull-left margin_l5" onclick="ShowDiag('/Class_540/Default.aspx','专业类别');"><i class="fa fa-plus"></i></button>
</td>
<td width="80" style="vertical-align:middle; text-align:right;">职称：</td>
<td>
<input type="text" class="form-control input-sm mvcparam txt_zc" id="zc" name="zc" style="float:left; width:115px; " />
<button type="button" class="btn btn-info btn-xs pull-left margin_l5" onclick="ShowDiag('/Class_541/Default.aspx','职称类别');"><i class="fa fa-plus"></i></button>
</td>
</tr>
<tr>
<td width="80" style="vertical-align:middle; text-align:right;">存放状态：</td>
<td>
<input type="text" class="form-control input-sm mvcparam txt_zszt" id="zszt" name="zszt" style="float:left; width:115px; " />
<button type="button" class="btn btn-info btn-xs pull-left margin_l5" onclick="ShowDiag('/Class_539/Default.aspx','证书状态');"><i class="fa fa-plus"></i></button>
</td>
<td width="80" style="vertical-align:middle; text-align:right;">存放部门：</td>
<td>
<input type="text" class="form-control input-sm mvcparam" id="cfbm" name="cfbm" />
</td>
<td width="80" style="vertical-align:middle; text-align:right;">姓名：</td>
<td>
<input type="text" class="form-control input-sm mvcparam" id="name" name="name" />
</td>
</tr>
<tr>
<td width="80" style="vertical-align:middle; text-align:right;">身份证号：</td>
<td>
<input type="text" class="form-control input-sm mvcparam" id="sfzh" name="sfzh" />
</td>
<td width="80" style="vertical-align:middle; text-align:right;">证书编号：</td>
<td>
<input type="text" class="form-control input-sm mvcparam" id="bh" name="bh" />
</td>
<td width="80" style="vertical-align:middle; text-align:right;">内部编号：</td>
<td>
<input type="text" class="form-control input-sm mvcparam" id="nbbh" name="nbbh" />
</td>
</tr>
<tr>
<td width="80" style="vertical-align:middle; text-align:right;">过期日期：</td>
<td colspan="5">
<input id="sdate" class="form-control input-sm pull-left mvcparam" style="width:140px;" type="text" onFocus="WdatePicker({maxDate:'#F{$dp.$D(\'edate\')}'})" name="sdate" /> 
<span class="pull-left" style=" margin-left:5px; margin-right:5px;line-height:24px;">至</span>
<input id="edate" class="form-control input-sm pull-left mvcparam" style="width:140px;" type="text" onFocus="WdatePicker({minDate:'#F{$dp.$D(\'sdate\')}'})" name="edate" />
<button type="button" class="btn btn-info btn-sm pull-left" style="margin-left:5px; border-radius:0; padding-top:2px; padding-bottom:2px;" onclick="mvcpage.load();" >查询</button>
</td>
</tr>
</table>
</form>
<div style="width:700px; overflow:auto;">
@Html.Action("Content_Data1", Model)
</div>
</td>
</tr>
</table>
</div>
</div>
    <div class="container" hidden>
        <ol class="breadcrumb">
            <li><a title="会员中心" href="@Url.Action("Default","")">会员中心</a></li>
            <li class="active"><a href="@Url.Action("MyContent", "Content")">投稿管理</a> [<a href="/User/Content/MyContent?NodeID=@ViewBag.NodeID&status=-2">回收站</a>]</li>
        </ol>
    </div>
    <div class="container" hidden>
        <div class="row">
            <div id="nodeNav" class="col-lg-3 col-md-4 col-sm-4 col-xs-12 divBorder" style="height:500px;overflow-y:auto;">
               
            </div>
            <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
                <div>
                    <div class="pull-left">
                        @MvcHtmlString.Create(ViewBag.addhtml)
                    </div>
                    <form method="post" action="/User/Content/MyContent">
                        <div class="input-group hidden-xs" style="max-width: 404px;">
                            <select class="form-control text_150" style="border-right:none;">
                                <option value="0">按标题查找</option>
                                <option value="1">按ID查找</option>
                            </select>
                            <input type="text" class="form-control text_md mvcparam" id="skey" name="skey" />
                            <span class="input-group-btn">
                                <input type="button" class="btn btn-primary" value="搜索" onclick="mvcpage.load();" />
                            </span>
                        </div>
                    </form>
                </div>
                
                <div class="margin_t5">
                    
                </div>
            </div>
        </div>
        <div style="display:none;">
            <input type="hidden" id="status" value="@ViewBag.Status" class="mvcparam" />
            <input type="hidden" id="nodeid" value="@ViewBag.NodeID" class="mvcparam" />
        </div>
    </div>
}
@section script{
<script src="/JS/SelectCheckBox.js"></script>
<script>
$(function () {
    $(".tvNav a.list1").click(function () { showlist(this); });
    if (window.localStorage.Content_tvNav) {
        expand($("#" + window.localStorage.Content_tvNav));
    }
})
function showlist(obj) {
    $(obj).parent().parent().find("a").removeClass("activeLi");//a-->li-->ul
    $(obj).parent().children("a").addClass("activeLi");//li
    $(obj).parent().siblings("li").find("ul").slideUp();
    $(obj).parent().children("ul").slideToggle();
    window.localStorage.Content_tvNav = obj.id;
}
function expand(obj)//超链接,不以动画效果显示
{
    $a = $(obj).parent().parent(".tvNav ul").parent("li").find("a:first");
    if ($a.length > 0) expand($a);
    $(obj).addClass("activeLi");
    $(obj).parent("li").children("ul").show();
}
$(".map_list1 li").each(function (index, element) {
if ($(this).find("ul li").length > 0) {
$(this).find("ul").hide();
}
else {
$(this).children("h3").find(".btn").remove();
$(this).find("ul").remove();
}
});
$(".map_list1_b").click(function () {
if ($(this).find("i").hasClass("fa-plus")) {
$(this).parent().parent().children("ul").show();
$(this).find("i").removeClass("fa-plus").addClass("fa-minus");
}
else {
$(this).parent().parent().children("ul").hide();
$(this).find("i").removeClass("fa-minus").addClass("fa-plus");
}
})
$().ready(function (e) {
var gid = "0";
var pid = "0";
if (gid > 0) {
$(".map_list1 li[data-gid='" + gid + "']").addClass("active");
ShowFun($(".map_list1 li[data-gid='" + gid + "']"))

}
else
{
$("#txt_parentid").val(pid);
}
if (pid > 0) {
$(".map_list1 li[data-gid='" + pid + "']").addClass("active");
ShowFun($(".map_list1 li[data-gid='" + pid + "']"))
}
$("#txt_parentid").parent().parent().hide();
})
$(".map_list1_zzlb li a").click(function () {
    $("#zzlb").val($(this).html());
    mvcpage.load();
});
$(".map_list1_zy li a").click(function () {
    $("#zy").val($(this).html());
    mvcpage.load();
});
$(".map_list1_zszt li a").click(function () {
    $("#zszt").val($(this).html());
    mvcpage.load();
});
function ViewFun(){
	if(parseInt($("input[name='idchk']:checked").val())>0){
	    window.location.href = "/Item/" + $("input[name='idchk']:checked").val() + ".aspx";
	}
	else{
		alert("未选择证照！");
	}
}
function EditFun(){
	if(parseInt($("input[name='idchk']:checked").val())>0){
		window.location.href="/Class_350/NodePage.aspx?ID="+parseInt($("input[name='idchk']:checked").val());
		//parent.EditFun(parseInt($("input[name='idchk']:checked").val()));
	}
	else{
		alert("未选择证照！");
	}
}
$().ready(function (e) {
    setTimeout("SetHeight();", "500");
});
function SetHeight() {
    if (window.top != window.self) {
        parent.SetHeight("myoa_fright", $(document.body).height());
    }
}
function SetValue(id, value) {
    $("." + id).val(value);
}
</script>
}